.profile__edit-button {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    padding: 0;
    align-self: center;
    margin-left: 18px;
    margin-top: 6px;
}

.profile__edit-button:hover {
    transition: 0.8s ease;
    opacity: 0.6;
}