.page {
    font-family: 'Inter', Arial, sans-serif;
    background-color: black;
    max-width: 880px;
    min-width: 300px;      
    margin: 0 auto;
    
}

.header {
    max-width: 880px;
    padding: 45px 0 40px 0;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #545454;
    border: 1px solid green;     
}

.header__logo {
    max-width: 142px;
}

.profile {
    max-width: 880px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
    box-sizing: border-box;
}

.profile__avatar {
    max-width: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.profile__info {
    margin-left: 30px;
    margin-right: auto;
}

.profile__info-name {
    display: flex;
    max-width: 294px;
    color: #FFFFFF;
    font-size: 42px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0;     
}

.profile__info-description {
    max-width: 336px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    margin-top: 16px;
}

.profile__info-edit-button {
    width: 24px;
    height: 24px;
    background-image: url(./images/edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url(./images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
}

.element__item-rectangle {
    max-width: 282px;
    min-height: 361px;
    background-color:  #FFFFFF;
    border-radius: 10px;
}

.element__item-image {
    width: 282px;
    height: 282px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.element__item-text {
    max-width: 336px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    margin-top: 16px;
}


