.popup__close-button {
    position: absolute;
    background-image: url(../../../images/close-button.svg);
    background-position: center;
    background-size: contain;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    top: -30px;
    right: -30px;
    cursor: pointer;
}

.popup__close-button:hover {
    transition: 0.8s ease;
    opacity: 0.6;
}

@media (max-width: 580px) {
.popup__close-button {
    width: 26px;
    height: 26px;
    top: -33.62px;
    right: -6px;
}
}