.popup-photo__container {
    display: flex;
    position: relative;
    max-width: 75vw;
    max-height: 75vh;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}

@media (max-width: 580px) {
    .popup-photo__container {
        max-width: 240px;
        padding-left: 40px;
        padding-right: 40px;
    }
}